@model IEnumerable<FIT5032.Models.Space>

@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select the parking location </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_date)
            </td>
            <td>
                @Html.ActionLink("Select", "Create", new { id = item.Space_Id })
                @*@Html.ActionLink("Details", "Details", new { id = item.Space_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Space_Id })*@
            </td>
        </tr>
    }

</table>

